<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">


   <import resource="context-beans-base.xml"/>
   <import resource="context-beans-rest.xml"/>

   <bean class="com.googlecode.objectify.spring.ObjectifyFactoryBean">
      <property name="classes">
         <list>
            <value>com.derivesystems.inventory.model.Shoe</value>
         </list>
      </property>
   </bean>
</beans>
